.permissions {
	width: 100%;
	&-container {
		width: 100%;
		.permission-item {
			margin: 2rem;
			&__content {
				margin: 1.2rem 0;
			}
		}
		.select-container {
			margin-bottom: 2rem;
		}
		.checkbox__container {
			margin-right: 2rem;
		}
	}
}
