//
// Define variables, mixins
//

// Font
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
// MaterialUI Icons
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// Setting
$normalize-size: 1rem;
$default-size: 1.6 * $normalize-size;
// Material UI color
$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$deep-purple: #673ab7;
$indigo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$cyan: #00bcd4;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #9e9e9e;
$blue-grey: #607d8b;

$dark-gray: #9d9d9d;
$ming-blue: #3d6385;
$green-blue: #9bcec2;
$gray: #9d9d9d;
$lighter-gray: #f7f7f7;
$light-white-gray: #f8f8f8;
$light-gray: #f6f6f6;
$alto-gray: #d3d3d3;
$dark-alto-gray: #d7d7d7;
$white-gray: #ededed;
$darker-white: #f5f5f5;

// Color
$primary: #28ca86;
$light-primary: #e0f8ee;
$secondary: #00325a;
$primary-2nd: #15c0bb;
$blue: #b6ccdf;
$login-bg-color: #e0f8ee;
$placeholder-gray: #d5d5d5;
$default-text-color: #615a66;
$white: #fff;
$black: #000;
$light-blue: #bdd4e8;
$dark-blue: #446a8a;

// Font-family
$quicksand: "Quicksand";
$montserrat: "Montserrat", sans-serif;
$font-1: $quicksand;
$font-2: $montserrat;

// Font-size
$font-size-multiplier: 1;
$font-size: $default-size * $font-size-multiplier;
$font-multiplier-base: 0.875;
$font-size-base: $font-size * $font-multiplier-base;
$font-multiplier-large: 1.125;
$font-size-large: $font-size * $font-multiplier-large;
$font-multiplier-small: 0.6875;
$font-size-small: $font-size * $font-multiplier-small;
$font-multiplier-header: 1.6;
$font-size-header: $font-size * $font-multiplier-header;
$font-multiplier-sub-header: 1.25;
$font-size-sub-header: $font-size * $font-multiplier-sub-header;
$font-size-icon-multiplier: 2.5;
$font-size-icon: $font-size-icon-multiplier * $font-size;

// Font-weight
$font-thin: 200;
$font-light: 300;
$font-regular: 400;
$font-bold: 600;
$font-bolder: 800;

// Transition
$transition-default: all 0.4s;

// padding,margin
$padding-extra-large: 10 * $normalize-size;
$padding-large: 5 * $normalize-size;
$padding-medium: 3 * $normalize-size;
$padding-medium-small: 1.5 * $normalize-size;
$padding-small: $normalize-size;
$padding-smaller: 0.75 * $normalize-size;
$padding-tiny: 3.5 * $normalize-size;

//border radius
$round-border: 50%;
$small-border: $normalize-size;

//input
$input-height: 3.6 * $normalize-size;

$logo-size: 7 * $normalize-size;
$price-container-height: 9 * $normalize-size;
$border-size: 0.15 * $normalize-size;
$border-size-thick: 0.3 * $normalize-size;

$button-min-width: 20 * $normalize-size;
$small-button-min-width: 10 * $normalize-size;

$min-width-modal: 40vw;

$switch-height: 3.73 * $normalize-size;

$suggestion-estimate-width: 15 * $normalize-size;

$bg-opacity: 0.8;
$bg-opacity-light: 0.35;

$logo-height: 5 * $normalize-size;
$bg-center-size: 130vh;
$nav-height: 10 * $normalize-size;

$box-width: 77 * $normalize-size;
$box-top-height: 12 * $normalize-size;
$box-bottom-height: 7 * $normalize-size;

$position-top-element: 15 * $normalize-size;
$body-width-desktop: 55vw;
